/* var */
:root {
  --primary-color: #020514;
  --accent-color: #7F8CAA;
  --text-color-1: #EAEFEF;
  --text-color-2: #eaefef81;
}

/* body */

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-color);
}

/* titles */
.title{
    display: flex;
    justify-content: center;    
    color: var(--text-color-2);  
    font-size: 42px;
    margin-bottom: 50px;
}

/* spacing */
.space{
    margin-top: 100px;
}
/* about */



/* navbar */

.navbar{
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;  
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--text-color-1);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 60%;
    position: sticky;
    top: 0;
    z-index: 9;
}   

.navbar a{
    text-decoration: none;
    font-size: 26px;
    color: var(--text-color-2);
}

.navbar a:hover{
    color: var(--text-color-1);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about .hero img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
}

.about .content{
    width: 50%;
}

.about .content h1{
    color: var(--text-color-1);
    font-size: 42px;
}

.about .content p{
    color: var(--text-color-2);
    font-weight: 350;
    font-size: 32px;
}

/* projects */

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.projects .card{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    background-color: var(--primary-color); 
    border-bottom: 2px solid var(--text-color-1);
}

.projects .card:hover{
    scale: 1.05;
    transition: 1s;
}

.projects .card h3{
    color: var(--text-color-1);
    font-size: 28px;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

.projects .card img{
    width: 350px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* contact */

.contact{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.contact a{
    color: var(--text-color-2);
    text-decoration: none;
    font-size: 36px;
}

.contact a:hover{
    scale: 1.5;
    color: var(--text-color-1);
    transition: 1s;
}

/* responsive */

/* Tablets */
@media (min-width: 700px) and (max-width: 1024px) {

    .about{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .about .content h1{
        font-size: 34px;
    }

    .about .content p{
        font-size: 28px;
    }

}

/* phones */
@media (max-width: 700px) {
 
    /* titles */

    .title{
        font-size: 36px;
    }   

    /* about */

    .about{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .about .hero img{
        width: 250px;
        height: 250px;
    }   

    .about .content h1{
        font-size: 23px;
    }

    .about .content p{
        font-size: 18px;
    }

    /* projects */

    .projects .card{
        width: 300px;
        height: 200px;
    }

    .projects .card img{
        width: 300px;
        height: 150px;
    }

    .projects .card h3{
        font-size: 24px;      
    }
}